<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.InfoMapper">
    <select id="findInfoById" parameterType="int" resultType="example.pojo.Info">
        SELECT * FROM Info WHERE user_id=#{user_id}
    </select>
    <insert id="insertInfo" parameterType="example.pojo.Info" useGeneratedKeys="true"  >
        INSERT INTO info (user_id, user_info, video_name, video_img) VALUES (#{user_id},#{user_info},#{video_name},#{video_img})
    </insert>
</mapper>