<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">
    <select id="findById" parameterType="int" resultType="example.pojo.User">
        SELECT * FROM user WHERE id=#{id}
    </select>
    <select id="findByName" parameterType="String" resultType="example.pojo.User">
        SELECT * FROM User WHERE username=#{username}
    </select>
    <insert id="insertUser" parameterType="example.pojo.User" useGeneratedKeys="true"  >
    INSERT INTO user (username, password, number, mailbox) VALUES (#{username},#{password},#{number},#{mailbox})
    </insert>

</mapper>